.outerbox {
    display: flex;
}

.box {
    background-color: #0a192f;
    width: 190px;
    height: 60px;
    border-style: solid;
    border-radius: 15px;
    border-color: #64ffda;
    border-width: 1px;
    margin-top: 10px;
    margin: 3% auto;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;

}

.link {
    color: #e3fdf7;
    font-size: 15px;
    font-family: "SFMono";
    cursor: pointer;
}

.link:hover {
    color: #64ffda;
}

@font-face {
    font-family: "SFMono";
    src: url('../../public/fonts/sf-mono/SFMonoMedium.otf');
  }
