.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 1px #64ffda solid;
  border-radius: 15px;
  margin: 20px;
  overflow: hidden;
  background-color: #0a192f;
  transition: 0.2s;
  height: 655px;
}

.box:hover {
  box-shadow: 5px 5px 0px #64ffda;
}

.imgContainer {
  height: 300px;
  overflow: hidden;
}

.imgContainer > img {
  width: 100%;
  height: auto;
  text-align: center;
  object-fit: cover;
}

.techContainer {
  display: flex;
  justify-self: center;
}

.box > a {
  position: absolute;
  color: #e3fdf7;
  cursor: pointer;
  width: 500px;
  height: 655px;
  display: block;
}

.box > a:hover + p:first-of-type {
  color: #64ffda;
  transition: 0.2s;
}

p:first-of-type {
  color: #e3fdf7;
  font-size: 30px;
}

.description {
  width: 80%;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .imgContainer {
    height: 320px;
  }
}
